@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*,
*::before,
*::after{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style-type: none;
        text-decoration: none;
}

html{
        font-family: 'Roboto', sans-serif;
}

body{
        width: 100vw;
        height: 100vh;
        padding: 2em;
        text-align: center;
        background-color: #fff;
        position: relative;
}

h1{
        margin: 0 0 .8em 0;
}

p{
        font-size: .9em;
}

.code{
        margin: 2em 0 1.5em 0;
}

.code > input{
        font-size: 2.7em;
        width: 1.2em;
        height: 1.4em;
        text-align: center;
        background-color: transparent;
        border: 2px solid #8c8c8c8a;
        border-radius: .2em;
}

.code > input + input{
        margin: 0 0 0 .5em;
}

.code.invalid > input{
        border-color: rgb(247, 0, 0);
}

.code.valid > input{
        border-color: #167ad8;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.warning{
        opacity: 0;
        color: rgb(247, 0, 0);
        font-size: .9em;
}

.warning.show{
        opacity: 1;
}

.time{
        color: #8c8c8c8a;
        margin: 6em 0 0 0;
}

.time > i{
        margin: 0 .3em 0 0;
}

.submit{
        background-color: #167ad8;
        border: none;
        color: #fff;
        width: 20em;
        height: 3em;
        border-radius: 3em;
        margin: 2em 0;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        cursor: pointer;
        letter-spacing: .05em;
}

.submit:disabled{
        background-color: transparent;
        border: 2px solid #8c8c8c8a;
        color: #8c8c8c8a;
        box-shadow: none;
        cursor: not-allowed;
}

.footer{
        position: fixed;
        bottom: 1em;
        left: 1em;
        text-align: start;
        font-size: .85em;
}